* {
	margin:0; 
	padding:0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a:focus {
	outline: none;
}
ul li {
	list-style:none;
}
.wrap {
	position: relative;
    min-width: 1184px;
    overflow: hidden;
}
.clearfix:after{
	content:'';
	display:block; 
	clear:both;
}
.cboth {
	clear: both;
	*zoom:1;
}
.cboth:after {
	content:'';
	display:block; 
	clear:both;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.w160 {
	width: 160px;
    border-right: 1px solid #dedede;
}
.w430 {
	width: 430px;
    border-right: 1px solid #dedede;
}
.w350 {width: 350px;}
.w170 {
	width: 170px;
    border-right: 1px solid #dedede;
}
.w1110 {
	width: 1110px;
}
.w222 {
	width: 222px;
}
.margin-bar {
	width: 25px;
    height: 1px;
    background-color: #222;
    margin: 30px auto;
}
.margin-bar-left {
	width: 25px;
    height: 1px;
    background-color: #222;
    margin: 20px 0 25px;
}
.sub-titile01 {
	font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #000;
    letter-spacing: 1px;
    line-height: 40px;
    padding-top: 110px;
}
.sub-titile02 {
	font-size: 16px;
    letter-spacing: -0.5px;
    color: #585858;
    line-height: 16px;
    padding-top: 10px;
}
.sub-titile03 {
	font-size: 17px;
    letter-spacing: -0.5px;
    color: #777;
    line-height: 27px;
}
.sub01-text01 {
	font-size: 40px;
    color: #000;
    letter-spacing: -0.5px;
    font-weight: 200;
    line-height: 48px;
}
.sub01-text02 {
	font-size: 20px;
    color: #000;
    letter-spacing: -0.5px;
    padding-bottom: 10px;
}
.sub01-text03 {
	font-size: 16px;
    color: #777;
    letter-spacing: -0.5px;
    line-height: 27px;
    padding-top: 0px;
}
.header-bg {
	height: 550px;
    width: 100%;
    background: url(../img/sub_topban.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    opacity: 0;
    animation: fadeInUp 1.5s ease forwards;
    animation-delay: 0.5;
}
.header-bg h2 {
	color: #fff;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    line-height: 50px;
    padding-top: 250px;
}
.header-bg p {
	color: #c9c9c9;
    line-height: 24px;
    font-size: 17px;
    padding-top: 18px;
    font-weight: 300;
}
.fadeInUp {
	visibility: visible!important;
	animation: fadeInUp 1.0s ease forwards; 
}
.fadeInDown {
	visibility: visible!important;
	animation: fadeInDown 1.0s ease forwards; 
}
.fadeInLeft {
	visibility: visible!important;;
	animation: fadeInLeft 1.0s ease forwards; 
}
.fadeInRight {
	visibility: visible!important;;
	animation: fadeInRight 1.0s ease forwards; 
}
.container {
	min-height: 1000px;
	padding: 0;
}
.contents {
	width: 100%;
    min-height: 1184px;
    text-align: center;
    position: static;
    margin: 0 auto;
    padding: 0;
}
.contents .sub-menu {
	margin: -48px auto 0;
    position: absolute;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-size: 0px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
}
.contents .sub-menu.active {
	visibility: visible;
	animation: fadeInUp 1.0s ease forwards; 
}
.contents .sub-menu li {
	display: inline-block;
    margin: 0px 0.5px;
}
.contents .sub-menu li a {
	width: 200px;
    height: 49px;
    line-height: 49px;
    letter-spacing: -0.5px;
    display: block;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
    color: #555555;
    font-size: 15px;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.contents .sub-menu li a:hover {
	background-color: rgba(255,255,255,1);
    color: #000;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.contents .sub-menu li a.on {
	background-color: rgba(255,255,255,1);
    color: #000;
}
.sub-top-navi {
	text-align: right;
    font-size: 12px;
    height: 70px;
    line-height: 70px;
    color: #999;
    letter-spacing: 0.5px;
    width: 1184px;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
}
.sub-top-navi.active {
	visibility: visible;
	animation: fadeInDown 1.0s ease forwards; 
}
.table-top {
	width: 1184px;
    margin: 0 auto;
	display: table;
    height: 72px;
    background-color: #7e7e7e;
    border: 1px solid #7e7e7e;
    margin-top: 80px;
}
.list {
	display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    letter-spacing: -0.5px;
}
.table-top .list{
	color: #fff;
    font-weight: 400;
}
.table-list01 {
	width: 1184px;
    margin: 0 auto;
	display: table;
    height: 178px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-bottom: 0px;
}
.table-list01.bottom ,.table-list02.bottom {
	border-bottom: 1px solid #dedede;
}
.table-list01 .list {
    color: #555;
    font-weight: 300;
}
.table-list02 {
	width: 1184px;
	margin: 0 auto;
	display: table;
    height: 178px;
    background-color: #fafafa;
    border: 1px solid #dedede;
    border-bottom: 0px;
}
.table-list02 .list {
    color: #555;
    font-weight: 300;
}
body {
	background-color: #fff;
	font-family: "Noto Sans KR",Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;
    font-weight: 300;
}
em {
	font-style: normal;
	font-weight: normal;
}
header {	
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height:110px; 
	z-index: 99;
	transition: 0.3s;
}
header.scrolled {
	position: fixed;
	height: 90px;
	background-color: rgba(0,0,0,0.8);
}
header nav { 
	margin: 0 auto;
    display: inline-block;
    width: 1184px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header nav > ul {
	overflow: hidden;
}
header nav .logo h1{
	margin: 0 200px 0 0;
	font-family: 'Raleway', sans-serif;
}
header nav > ul > li {
	float:left; 
	line-height:110px; 
	transition: 0.3s;
}
header.scrolled nav > ul > li {
	line-height: 90px;
}
header nav > ul > li ul{ 
	width:168px; 
	opacity: 0;
	visibility: hidden; 
	position: absolute; 
	top: 80px;
	margin-left: 30px;
	background-color: #ffffff;
}
header nav > ul > li a{
	display: inline-block;
    padding: 0 35px;
    font-size: 12px;
    text-align: center;
    line-height: 110px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
header.scrolled nav > ul > li > a {
	line-height: 90px;
}
header nav > ul > li ul li{
	border-top: 1px solid #dedede;
	margin: 0px 10px;
}
header nav > ul > li ul li:nth-of-type(1) {
	border-top: 0px;
}
header nav > ul > li ul li a {
	display: block;
    padding: 0;
    font-size: 13px;
    color: #777;
    font-family: "Noto Sans KR", sans-serif;
    height: 40px;
    line-height: 40px;
    letter-spacing: -0.5px;
    font-weight: 300;
    text-align: left;
}
header nav > ul > li ul li a:hover {
	animation: goToRight 0.5s ease forwards;
}
header nav .sideMenuBtn {
	display: inline-block;
	position: absolute;
	top: 30px;
	right: 0px;
	transition: 0.3s;
}
header.scrolled nav .sideMenuBtn {
	top: 20px;
}
.header.hidden li:nth-of-type(2),
.header.hidden li:nth-of-type(3),
.header.hidden li:nth-of-type(4),
.header.hidden li:nth-of-type(5),
.header.hidden li:nth-of-type(6),
.header.hidden li:nth-of-type(7) {
    display: none; 
}
/*side menu*/
.closeBtn {
	display: inline-block;
	position: fixed;
	cursor: pointer;
	right: 300px;
	width:50px;
	height: 50px;
	top: 30px;
	text-align: center;
	line-height: 50px;
	background-color: #6a6a6a;
	z-index: 150;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s;
}
.closeBtn.visible {
	opacity: 1;
	visibility: visible;
}
.closeBtn > div {
	transition: 0.3s;
}
.closeBtn:hover > div{
	transform: rotate(180deg);
}
.sideMenuContainer {
	position: fixed;
	overflow-y: auto;
	top: 0;
	right: 0;
	width:300px;
	height: 100%;
	z-index: 150;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s;
	background-color: #fff;
}
.sideMenuContainer.visible {
	opacity: 1;
	visibility: visible;
}
.sideMenuContainer .top_log {
	width:240px;
	margin: 0 auto;
	height: 50px;
	margin-top: 30px;
}
.sideMenuContainer .top_log ul li {
	float: left;
	height: 30px;
}
.sideMenuContainer .top_log ul li:first-child a {
	padding-left: 0;
}
.sideMenuContainer .top_log ul li:last-child a {
	padding-right: 0;
}
.sideMenuContainer .top_log ul li a {
	font-size: 12px;
	font-family: "Noto Sans KR", sans-serif;
    color: #999999;
    text-align: left;
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0px 7px;
    letter-spacing: -0.5px;
    font-weight: 400;
}
.sideMenuContainer .top_log ul li:nth-child(2) a {
	color: #000;
}
.sideMenuContainer .top_log ul li a:hover {
	color: #000;
	font-weight: 400;
}
.sideMenuContainer .top_log ul li a:after {
	content: '';
	position: absolute;
	border-right: 1px solid #999999;
	height: 13px;
    right: 0;
    top: 2px;
}
.sideMenuContainer .top_log ul li:last-child a:after {
	content: '';
	border: none;
}
.sideMenuContainer .top_search {
	width:240px;
	margin: 0 auto;
}
.sideMenuContainer fieldset {
	position: relative;
	padding: 0;
}
.sideMenuContainer .top_input_cont input:first-child {
	border: none;
	padding: 5px 15px 5px 15px;
	width:220px;
}
.sideMenuContainer .top_input_cont input:first-child:focus {
	outline: none;
}
.sideMenuContainer .top_input_cont input:last-child {
	position: absolute;
	top: 0;
	right: 0;
}
.sideMenuContainer .subMenuBox {
	margin-top: 28px;
}
.sideMenuContainer .subMenuBox > ul > li {
	position: relative;
}
.sideMenuContainer .subMenuBox > ul > li a, .sideMenuContainer .subMenuBox > ul > li p{
	display: block;
    padding: 0;
    font-size: 13px;
    font-weight: 600 !important;
    text-align: left;
    line-height: 24px;
    color: #000;
    width: 240px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    font-family: 'Raleway', "Noto Sans KR", sans-serif;
}
.sideMenuContainer .subMenuBox > ul > li p:hover {
	cursor: pointer;
}
.sideMenuContainer .subMenuBox > ul > li p:focus {
	outline: none;
}
.sideMenuContainer .subMenuBox > ul > li > p > span {
	position: absolute;
	right: 25px;
	transition: 0.3s;
}
.sideMenuContainer .subMenuBox > ul > li > p > span.visible {
	transform: rotate(180deg);
}
.sideMenuContainer .subMenuBox > ul > li > ul {
	display: none;
}
.sideMenuContainer .subMenuBox > ul > li > ul > li a {
    color: #777;
    height: 28px;
    line-height: 28px;
    font-weight: 400 !important;
    letter-spacing: -0.5px;
    font-family: "Noto Sans KR", sans-serif;
}
.sideMenuContainer .subMenuBox > ul > li > ul > li:hover a {
	color: #000;
}
.sideMenuContainer .top_cs {
	width: 240px;
    margin: 0 auto;
    border-top: 1px solid #e9e9e9;
    padding-top: 35px;
    margin-top: 25px;
    text-align: left;
}
.sideMenuContainer .top_cs .text01 {
	font-size: 14px;
    color: #000;
    font-weight: 400;
    line-height: 14px;
}
.sideMenuContainer .top_cs .text02 {
	font-size: 18px;
    color: #000;
    font-weight: 600;
    line-height: 18px;
    padding-top: 5px;
}
.sideMenuContainer .top_cs .text03 {
	font-size: 13px;
    color: #999;
    line-height: 20px;
    padding-top: 14px;
}
.sideMenuContainer .top_recent {
	width: 240px;
    margin: 0 auto;
    border-top: 1px solid #e9e9e9;
    padding-top: 35px;
    margin-top: 35px;
    text-align: left;
    padding-bottom: 30px;
}
.sideMenuContainer .top_recent .text01 {
	font-size: 13px;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
}
.sideMenuContainer .top_sns {
	width: 240px;
    margin: 0 auto;
    border-top: 1px solid #e9e9e9;
    padding: 20px 0;
    margin-top: 25px;
}
.sideMenuContainer .top_sns ul li {
	float: left;
	padding-left: 7px;
	transition: 0.3s;
}
.sideMenuContainer .top_sns ul li:first-child {
	padding-left: 0;
}
.sideMenuContainer .top_sns ul li:hover {
	opacity: 0.5
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s;
	background-color: rgba(0,0,0,0.4);
	height: 100%;
	width: 100%;
}
.overlay.visible {
	opacity: 1;
	visibility: visible;
	z-index: 100;
}
/*footer*/
footer {
	position: relative;
	border: 0;
}
footer .footer-wrap {
	background-color: #1c1c1c;
    padding: 100px 0;
}
footer .footer-wrap .logo {
	color: #fff;
    line-height: 25px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
}
footer .footer-wrap .menu {
	padding: 38px 0px;
    text-align: center;
}
footer .footer-wrap .menu ul li {
	text-align: center;
    display: inline-block;
    margin: 0px 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
footer .footer-wrap .menu ul li a {
	color: #b9b9b9;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
footer .footer-wrap .menu ul li:nth-of-type(3) a {
	color: #fff;
}
footer .footer-wrap .menu ul li a:hover {
	color: #fff;
}
footer .footer-wrap .copyright01 {
	text-align: center;
    font-size: 12px;
    color: #666666;
    line-height: 20px;
}
footer .footer-wrap .copyright01 a {
	color: #666666;
}
footer .footer-wrap .copyright02 {
	text-align: center;
    font-size: 12px;
    color: #666666;
    line-height: 20px;
    padding-top: 38px;
}
@keyframes fadeInUp {
	0% {
	    opacity: 0;
	    -webkit-transform: translateY(-80px);
	    -ms-transform: translateY(-80px);
	    transform: translateY(-80px);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	    transform: translateY(0);
	}
}
@keyframes fadeInDown {
	0% {
	    opacity: 0;
	    -webkit-transform: translateY(80px);
	    -ms-transform: translateY(80px);
	    transform: translateY(80px);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	    transform: translateY(0);
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
	    -webkit-transform: translateX(-60px);
	    -ms-transform: translateX(-60px);
	    transform: translateX(-60px);
	}
	100% {
		opacity: 1;
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    transform: translateX(0);
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
	    -webkit-transform: translateX(60px);
	    -ms-transform: translateX(60px);
	    transform: translateX(60px);
	}
	100% {
		opacity: 1;
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    transform: translateX(0);
	}
}
@keyframes goToRight {
	0% {transform: translateX(0%);}
	100% {transform: translateX(5%);color: #000;}
}
@media all (min-width: 2574px) {
	header nav .logo h1 {
	    margin: 0 200px 0 0;
	}
}